
{erl_opts, [
    warn_obsolete_guards,
    warn_unused_vars,
    warn_unused_import,
   {parse_transform, lager_transform}
]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    {exometer_core, ".*", {git, "https://github.com/Feuerlabs/exometer_core.git", {branch, "master"}}},
    {rrets, ".*", {git, "https://github.com/mmzeeman/rrets.git", {branch, "master"}}}
]}.
